.button{
  display: flex;
  justify-content: center;
  align-items: center;
  @include adaptiv-value("width", 180, 50, 1);
  @include adaptiv-value("height", 56, 25, 1);
  border-radius: 12px;
  text-align: center;
  text-transform: uppercase;
  background-color: #FFD2A4;
  color: #1c1d28;
  transition: all ease-in .15s;
  &:hover {
    background-color: #d47d25;
    cursor: pointer;
  }
  &_secondary {
    color: #FFD2A4;
    background-color: #161722;
    &:hover {
      color: $text-color;
      background-color: #161722;
    }
  }
}